## 1. Import libraries

In [83]:
import requests
from selenium import webdriver
from time import sleep
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup
import pandas as pd
import sys
sys.path.append('../')
import numpy as np
import re

## 2. Import Data

In [11]:
df = pd.read_csv("../Data/ultimo_web_scrapping.csv")

In [12]:
column_air = pd.read_csv("../Data/air.csv")

## 3. We explore the dataset

In [13]:
df.head(3)

,Unnamed: 0,Airport_hub,Intercity_train_connectivity,Gun_related_deaths,Guns_per_residents,Pisa_ranking,Best_university,Monthly_Fitness_Club_Membership,Beer,Monthly_Public_Transport,...,Concert_venues,Museums,Sport_venues,Currency_for_urban_area,GDP_per_capita_uno,Growth,GDP_per_capita_otro,Unemployment,url,Average_Annual_percent_sunshine
0,0,8,0.59,1,12,13,Aarhus University,$37.00,$1.70,$62.00,...,95,18,21,DKK,$44342.66,5%,"$44,343",4%,https://teleport.org/cities/aarhus/,No hay dato
1,1,26,0.17,1,24,16,University of Adelaide,$50.00,$4.30,$80.00,...,89,37,91,AUD,$46433.30,7%,"$46,433",6%,https://teleport.org/cities/adelaide/,12.6
2,2,23,0.11,16,328,24,University of New Mexico,$52.00,$2.90,$37.00,...,99,35,10,USD,$54596.65,7%,"$54,597",5%,https://teleport.org/cities/albuquerque/,168

In [14]:
df.shape

(262, 33)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 33 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       262 non-null    int64
 1   Airport_hub                      262 non-null    object
 2   Intercity_train_connectivity     262 non-null    object
 3   Gun_related_deaths               262 non-null    object
 4   Guns_per_residents               262 non-null    object
 5   Pisa_ranking                     262 non-null    object
 6   Best_university                  262 non-null    object
 7   Monthly_Fitness_Club_Membership  261 non-null    object
 8   Beer                             261 non-null    object
 9   Monthly_Public_Transport         261 non-null    object
 10  Lunch                            261 non-null    object
 11  Large_apartment                  262 non-null    object
 12  Medium_apartment                 262 non-null    object
 13  Small_apartment                  262 non-null    object
 14  cities                           262 non-null    object
 15  Description                      262 non-null    object
 16  Poblacion                        262 non-null    object
 17  Homosexuality_acceptance         262 non-null    object
 18  LGBT_adoption_rights             254 non-null    object
 19  LGBT_homosexuality_rights        262 non-null    object
 20  LGBT_marriage_rights             262 non-null    object
 21  VAT_Sales_Tax                    262 non-null    object
 22  Art_galleries                    262 non-null    object
 23  Concert_venues                   262 non-null    object
 24  Museums                          262 non-null    object
 25  Sport_venues                     262 non-null    object
 26  Currency_for_urban_area          262 non-null    object
 27  GDP_per_capita_uno               262 non-null    object
 28  Growth                           262 non-null    object
 29  GDP_per_capita_otro              262 non-null    object
 30  Unemployment                     262 non-null    object
 31  url                              262 non-null    object
 32  Average_Annual_percent_sunshine  262 non-null    object
dtypes: int64(1), object(32)
memory usage: 67.7+ KB

#### Podemos observar que la mayoria de datos son tipo object, por lo que tendremos que convertir las columnas a sus respectivos dtypes.

In [16]:
pd.isna(df).sum()

Unnamed: 0                         0
Airport_hub                        0
Intercity_train_connectivity       0
Gun_related_deaths                 0
Guns_per_residents                 0
Pisa_ranking                       0
Best_university                    0
Monthly_Fitness_Club_Membership    1
Beer                               1
Monthly_Public_Transport           1
Lunch                              1
Large_apartment                    0
Medium_apartment                   0
Small_apartment                    0
cities                             0
Description                        0
Poblacion                          0
Homosexuality_acceptance           0
LGBT_adoption_rights               8
LGBT_homosexuality_rights          0
LGBT_marriage_rights               0
VAT_Sales_Tax                      0
Art_galleries                      0
Concert_venues                     0
Museums                            0
Sport_venues                       0
Currency_for_urban_area            0
GDP_per_capita_uno                 0
Growth                             0
GDP_per_capita_otro                0
Unemployment                       0
url                                0
Average_Annual_percent_sunshine    0
dtype: int64

#### Algunos de los valores presentes son nan, por lo que deberemos reemplazar la información en esos lugares.

In [17]:
#df.LGBT_adoption_rights.unique()

In [18]:
#df.Lunch.unique()

In [19]:
#df.Monthly_Fitness_Club_Membership.unique()

In [20]:
#df.Monthly_Public_Transport.unique()

In [21]:
#df.Beer.unique()

In [22]:
df['Beer'] = df['Beer'].replace(np.nan, 0)

In [23]:
df['Monthly_Fitness_Club_Membership'] = df['Monthly_Fitness_Club_Membership'].replace(np.nan, 0)

In [24]:
df["Lunch"] = df["Lunch"].replace(np.nan, 0)

In [25]:
df["LGBT_adoption_rights"] = df["LGBT_adoption_rights"].replace(np.nan, "No hay dato")

In [26]:
df["Monthly_Public_Transport"] = df["Monthly_Public_Transport"].replace(np.nan, 0)

In [27]:
df["Monthly_Public_Transport"] = df["Monthly_Public_Transport"].replace('No hay dato', 0)

In [28]:
pd.isna(df).sum()

Unnamed: 0                         0
Airport_hub                        0
Intercity_train_connectivity       0
Gun_related_deaths                 0
Guns_per_residents                 0
Pisa_ranking                       0
Best_university                    0
Monthly_Fitness_Club_Membership    0
Beer                               0
Monthly_Public_Transport           0
Lunch                              0
Large_apartment                    0
Medium_apartment                   0
Small_apartment                    0
cities                             0
Description                        0
Poblacion                          0
Homosexuality_acceptance           0
LGBT_adoption_rights               0
LGBT_homosexuality_rights          0
LGBT_marriage_rights               0
VAT_Sales_Tax                      0
Art_galleries                      0
Concert_venues                     0
Museums                            0
Sport_venues                       0
Currency_for_urban_area            0
GDP_per_capita_uno                 0
Growth                             0
GDP_per_capita_otro                0
Unemployment                       0
url                                0
Average_Annual_percent_sunshine    0
dtype: int64

In [29]:
copia = df.copy()

In [30]:
air = pd.DataFrame(column_air)

In [31]:
air.head()

   Unnamed: 0 Airport_score                                       url
0           0          0.12       https://teleport.org/cities/aarhus/
1           1          0.19     https://teleport.org/cities/adelaide/
2           2          0.18  https://teleport.org/cities/albuquerque/
3           3          0.26       https://teleport.org/cities/almaty/
4           4          0.98    https://teleport.org/cities/amsterdam/

In [32]:
copia["Airport_score"] = air["Airport_score"]

In [33]:
copia.head()

,Unnamed: 0,Airport_hub,Intercity_train_connectivity,Gun_related_deaths,Guns_per_residents,Pisa_ranking,Best_university,Monthly_Fitness_Club_Membership,Beer,Monthly_Public_Transport,...,Museums,Sport_venues,Currency_for_urban_area,GDP_per_capita_uno,Growth,GDP_per_capita_otro,Unemployment,url,Average_Annual_percent_sunshine,Airport_score
0,0,8,0.59,1,12,13,Aarhus University,$37.00,$1.70,$62.00,...,18,21,DKK,$44342.66,5%,"$44,343",4%,https://teleport.org/cities/aarhus/,No hay dato,0.12
1,1,26,0.17,1,24,16,University of Adelaide,$50.00,$4.30,$80.00,...,37,91,AUD,$46433.30,7%,"$46,433",6%,https://teleport.org/cities/adelaide/,12.6,0.19
2,2,23,0.11,16,328,24,University of New Mexico,$52.00,$2.90,$37.00,...,35,10,USD,$54596.65,7%,"$54,597",5%,https://teleport.org/cities/albuquerque/,168,0.18
3,3,45,0.66,1,1,39,427.97,$83.00,$0.68,$19.00,...,24,53,KZT,$24019.95,9%,"$24,020",6%,https://teleport.org/cities/almaty/,64,0.26
4,4,237,0.68,1,4,10,University of Amsterdam,$49.00,$2.10,$100.00,...,187,154,EUR,$47354.53,3%,"$47,355",6%,https://teleport.org/cities/amsterdam/,12.9,0.98

### Para poder trabajar con los datos debemos quitar símbolos y hacer una limpieza de las columnas

In [36]:
def delete_price(i):
    i = str(i).replace('$', "")
    return i

In [37]:
copia['GDP_per_capita_otro'] = copia['GDP_per_capita_otro'].apply(delete_price)

In [38]:
copia['Monthly_Fitness_Club_Membership'] = copia['Monthly_Fitness_Club_Membership'].apply(delete_price)

In [39]:
copia['Beer'] = copia['Beer'].apply(delete_price)

In [40]:
copia['Monthly_Public_Transport'] = copia['Monthly_Public_Transport'].apply(delete_price)

In [41]:
copia['GDP_per_capita_uno'] = copia['GDP_per_capita_uno'].apply(delete_price)

In [42]:
copia['Lunch'] = copia['Lunch'].apply(delete_price)

In [43]:
copia['Large_apartment'] = copia['Large_apartment'].apply(delete_price)

In [44]:
copia['Medium_apartment'] = copia['Medium_apartment'].apply(delete_price)

In [45]:
copia['Small_apartment'] = copia['Small_apartment'].apply(delete_price)

In [46]:
def convertir(i):
    i = i.replace(",", ".")
    return i

In [47]:
copia["GDP_per_capita_otro"] = copia["GDP_per_capita_otro"].apply(convertir)

In [48]:
def quitar(i):
    i = i.replace(",", "")
    return i

In [49]:
copia["Poblacion"] = copia["Poblacion"].apply(quitar)

In [50]:
def clean_symbol(i):
    i = i.replace("✖", "")
    return i

In [51]:
copia["LGBT_adoption_rights"] = copia["LGBT_adoption_rights"].apply(clean_symbol)

In [52]:
copia["LGBT_homosexuality_rights"] = copia["LGBT_homosexuality_rights"].apply(clean_symbol)

In [53]:
copia["LGBT_marriage_rights"] = copia["LGBT_marriage_rights"].apply(clean_symbol)

In [54]:
def clean_symbol2(i):
    i = i.replace("✔", "")
    return i

In [55]:
copia["LGBT_adoption_rights"] = copia["LGBT_adoption_rights"].apply(clean_symbol2)

In [56]:
copia["LGBT_homosexuality_rights"] = copia["LGBT_homosexuality_rights"].apply(clean_symbol2)

In [57]:
copia["LGBT_marriage_rights"] = copia["LGBT_marriage_rights"].apply(clean_symbol2)

In [58]:
copia.head()

,Unnamed: 0,Airport_hub,Intercity_train_connectivity,Gun_related_deaths,Guns_per_residents,Pisa_ranking,Best_university,Monthly_Fitness_Club_Membership,Beer,Monthly_Public_Transport,...,Museums,Sport_venues,Currency_for_urban_area,GDP_per_capita_uno,Growth,GDP_per_capita_otro,Unemployment,url,Average_Annual_percent_sunshine,Airport_score
0,0,8,0.59,1,12,13,Aarhus University,37.00,1.70,62.00,...,18,21,DKK,44342.66,5%,44.343,4%,https://teleport.org/cities/aarhus/,No hay dato,0.12
1,1,26,0.17,1,24,16,University of Adelaide,50.00,4.30,80.00,...,37,91,AUD,46433.30,7%,46.433,6%,https://teleport.org/cities/adelaide/,12.6,0.19
2,2,23,0.11,16,328,24,University of New Mexico,52.00,2.90,37.00,...,35,10,USD,54596.65,7%,54.597,5%,https://teleport.org/cities/albuquerque/,168,0.18
3,3,45,0.66,1,1,39,427.97,83.00,0.68,19.00,...,24,53,KZT,24019.95,9%,24.020,6%,https://teleport.org/cities/almaty/,64,0.26
4,4,237,0.68,1,4,10,University of Amsterdam,49.00,2.10,100.00,...,187,154,EUR,47354.53,3%,47.355,6%,https://teleport.org/cities/amsterdam/,12.9,0.98

In [59]:
def clean_no_info(i):
    i = i.replace("No hay dato", "0")
    return i

In [60]:
copia["Airport_hub"] = copia["Airport_hub"].apply(clean_no_info)

In [61]:
copia["Intercity_train_connectivity"] = copia["Intercity_train_connectivity"].apply(clean_no_info)

In [62]:
copia["Gun_related_deaths"] = copia["Gun_related_deaths"].apply(clean_no_info)

In [63]:
copia["Guns_per_residents"] = copia["Guns_per_residents"].apply(clean_no_info)

In [64]:
copia["Pisa_ranking"] = copia["Pisa_ranking"].apply(clean_no_info)

In [65]:
copia["Large_apartment"] = copia["Large_apartment"].apply(clean_no_info)

In [66]:
copia["Small_apartment"] = copia["Small_apartment"].apply(clean_no_info)

In [67]:
copia["Medium_apartment"] = copia["Medium_apartment"].apply(clean_no_info)

In [68]:
copia["VAT_Sales_Tax"] = copia["VAT_Sales_Tax"].apply(clean_no_info)

In [69]:
copia["Art_galleries"] = copia["Art_galleries"].apply(clean_no_info)

In [70]:
copia["Concert_venues"] = copia["Concert_venues"].apply(clean_no_info)

In [71]:
copia["Museums"] = copia["Museums"].apply(clean_no_info)

In [72]:
copia["Sport_venues"] = copia["Sport_venues"].apply(clean_no_info)

In [73]:
copia["GDP_per_capita_uno"] = copia["GDP_per_capita_uno"].apply(clean_no_info)

In [74]:
copia["GDP_per_capita_otro"] = copia["GDP_per_capita_otro"].apply(clean_no_info)

In [75]:
copia["Unemployment"] = copia["Unemployment"].apply(clean_no_info)

In [76]:
copia["Average_Annual_percent_sunshine"] = copia["Average_Annual_percent_sunshine"].apply(clean_no_info)

In [77]:
copia["Homosexuality_acceptance"] = copia["Homosexuality_acceptance"].apply(clean_no_info)

In [78]:
copia["Airport_score"] = copia["Airport_score"].apply(clean_no_info)

In [79]:
def replace_num(universidad):
    #print ("i original :",universidad)
    if (re.findall("\d+",universidad)):
        universidad = "No hay dato"
    #print ("i cambiada: ",universidad)
    return universidad

In [84]:
copia["Best_university"] = copia["Best_university"].apply(replace_num)

In [85]:
def replace_num2(Currency):
    if (re.findall("\d+",Currency)):
        Currency = "USD"
    return Currency

In [86]:
copia.loc[copia['Currency_for_urban_area'] =='0.43']

,Unnamed: 0,Airport_hub,Intercity_train_connectivity,Gun_related_deaths,Guns_per_residents,Pisa_ranking,Best_university,Monthly_Fitness_Club_Membership,Beer,Monthly_Public_Transport,...,Museums,Sport_venues,Currency_for_urban_area,GDP_per_capita_uno,Growth,GDP_per_capita_otro,Unemployment,url,Average_Annual_percent_sunshine,Airport_score
16,16,0.48,0,10,119,24,Johns Hopkins University,59.00,2.10,68.00,...,0,0,0.43,0,80,0,0,https://teleport.org/cities/baltimore/,0,0.25

In [87]:
copia["Currency_for_urban_area"] = copia["Currency_for_urban_area"].apply(replace_num2)

#### Algunas de las columnas tienen datos que no se corresponden con la medición de esa columna, por lo que reemplzaremos esos números por 0, dandole la asignación de que no tenemos datos sobre ese lugar.

### Continuamos la limpieza de nuestros datos:

In [88]:
def change(x):
    x = str(x).split('.')[0]
    return x

In [89]:
copia["Airport_hub"] = copia["Airport_hub"].apply(change)

In [90]:
copia["Pisa_ranking"] =copia["Pisa_ranking"].apply(change)

In [91]:
copia["Concert_venues"] = copia["Concert_venues"].apply(change)

In [92]:
copia["Museums"] = copia["Museums"].apply(change)

In [93]:
copia["Sport_venues"] = copia["Sport_venues"].apply(change)

In [94]:
def delete_percentage(i):
    i = str(i).replace('%', "")
    return i

In [95]:
copia["Growth"] = copia["Growth"].apply(delete_percentage)

In [96]:
copia["Unemployment"] = copia["Unemployment"].apply(delete_percentage)

### A continuación debemos convertir el dtype de las columnas

In [97]:
copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 34 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       262 non-null    int64
 1   Airport_hub                      262 non-null    object
 2   Intercity_train_connectivity     262 non-null    object
 3   Gun_related_deaths               262 non-null    object
 4   Guns_per_residents               262 non-null    object
 5   Pisa_ranking                     262 non-null    object
 6   Best_university                  262 non-null    object
 7   Monthly_Fitness_Club_Membership  262 non-null    object
 8   Beer                             262 non-null    object
 9   Monthly_Public_Transport         262 non-null    object
 10  Lunch                            262 non-null    object
 11  Large_apartment                  262 non-null    object
 12  Medium_apartment                 262 non-null    object
 13  Small_apartment                  262 non-null    object
 14  cities                           262 non-null    object
 15  Description                      262 non-null    object
 16  Poblacion                        262 non-null    object
 17  Homosexuality_acceptance         262 non-null    object
 18  LGBT_adoption_rights             262 non-null    object
 19  LGBT_homosexuality_rights        262 non-null    object
 20  LGBT_marriage_rights             262 non-null    object
 21  VAT_Sales_Tax                    262 non-null    object
 22  Art_galleries                    262 non-null    object
 23  Concert_venues                   262 non-null    object
 24  Museums                          262 non-null    object
 25  Sport_venues                     262 non-null    object
 26  Currency_for_urban_area          262 non-null    object
 27  GDP_per_capita_uno               262 non-null    object
 28  Growth                           262 non-null    object
 29  GDP_per_capita_otro              262 non-null    object
 30  Unemployment                     262 non-null    object
 31  url                              262 non-null    object
 32  Average_Annual_percent_sunshine  262 non-null    object
 33  Airport_score                    262 non-null    object
dtypes: int64(1), object(33)
memory usage: 69.7+ KB

In [98]:
copia["Small_apartment"] = copia["Small_apartment"].astype(dtype=int)

In [99]:
copia["Medium_apartment"] = copia["Medium_apartment"].astype(dtype=int)

In [100]:
copia["Large_apartment"] = copia["Large_apartment"].astype(dtype=int)

In [101]:
copia["Airport_hub"] = copia["Airport_hub"].astype(dtype=int)

In [102]:
copia["Gun_related_deaths"] = copia["Gun_related_deaths"].astype(dtype=int)

In [103]:
copia["Guns_per_residents"] = copia["Guns_per_residents"].astype(dtype=int)

In [104]:
copia["Pisa_ranking"] = copia["Pisa_ranking"].astype(dtype=int)

In [105]:
#copia["Monthly_Fitness_Club_Membership"] = copia["Monthly_Fitness_Club_Membership"].astype(dtype=int)

In [106]:
#copia.Monthly_Fitness_Club_Membership.unique()

In [107]:
copia["Poblacion"] = copia["Poblacion"].astype(dtype=int)

In [108]:
copia["Art_galleries"] = copia["Art_galleries"].astype(dtype=int)

In [109]:
copia["Concert_venues"] = copia["Concert_venues"].astype(dtype=int)

In [110]:
copia["Museums"] = copia["Museums"].astype(dtype=int)

In [111]:
copia["Sport_venues"] = copia["Sport_venues"].astype(dtype=int)

In [112]:
copia["Growth"] = copia["Growth"].astype(dtype=int)

In [113]:
copia["Unemployment"] = copia["Unemployment"].astype(dtype=int)

In [114]:
copia.head()

,Unnamed: 0,Airport_hub,Intercity_train_connectivity,Gun_related_deaths,Guns_per_residents,Pisa_ranking,Best_university,Monthly_Fitness_Club_Membership,Beer,Monthly_Public_Transport,...,Museums,Sport_venues,Currency_for_urban_area,GDP_per_capita_uno,Growth,GDP_per_capita_otro,Unemployment,url,Average_Annual_percent_sunshine,Airport_score
0,0,8,0.59,1,12,13,Aarhus University,37.00,1.70,62.00,...,18,21,DKK,44342.66,5,44.343,4,https://teleport.org/cities/aarhus/,0,0.12
1,1,26,0.17,1,24,16,University of Adelaide,50.00,4.30,80.00,...,37,91,AUD,46433.30,7,46.433,6,https://teleport.org/cities/adelaide/,12.6,0.19
2,2,23,0.11,16,328,24,University of New Mexico,52.00,2.90,37.00,...,35,10,USD,54596.65,7,54.597,5,https://teleport.org/cities/albuquerque/,168,0.18
3,3,45,0.66,1,1,39,No hay dato,83.00,0.68,19.00,...,24,53,KZT,24019.95,9,24.020,6,https://teleport.org/cities/almaty/,64,0.26
4,4,237,0.68,1,4,10,University of Amsterdam,49.00,2.10,100.00,...,187,154,EUR,47354.53,3,47.355,6,https://teleport.org/cities/amsterdam/,12.9,0.98

In [115]:
copia.Average_Annual_percent_sunshine.unique()

array(['0', '12.6', '168', '64', '12.9', '61', '243', '101', '12.5',
       '266.7', '110', '182.9', '116', '12.7', '207', '73', '209.5', '75',
       '113', '160', '213', '35', '120', '288', '12.8', '98', '324',
       '326', '124', '54', '297.1', '254', '260', '259', '111', '105',
       '84', '238.3', '82', '66', '138', '127', '72', '13', '161', '228',
       '136', '115', '76', '298', '337', '174', '227.8', '288.2', '281',
       '282', '225', '330', '302', '90', '181', '44', '198', '13.2',
       '277.1', '222', '200', '296', '265', '13.3', '91', '88', '95',
       '246', '121', '285', '97', '217', '312', '65', '211', '290', '218',
       '89', '241.4', '147', '93', '31', '94', '107', '252', '118', '96',
       '103', '336', '139', '177', '246.7', '13.5', '102', '180', '58',
       '68', '242', '99', '13.6', '100', '13.1', '130', '125', '106',
       '271', '70', '236', '299.5', '71', '250', '129', '287', '291',
       '13.4', '199.9', '213.1', '172', '49.4', '286', '36'], dtype=object)

In [116]:
copia["Intercity_train_connectivity"] = copia["Intercity_train_connectivity"].astype(dtype=float)

In [117]:
copia["Monthly_Fitness_Club_Membership"] = copia["Monthly_Fitness_Club_Membership"].astype(dtype=float)

In [118]:
copia["Beer"] = copia["Beer"].astype(dtype=float)

In [119]:
copia["Lunch"] = copia["Lunch"].astype(dtype=float)

In [120]:
copia["Monthly_Public_Transport"] = copia["Monthly_Public_Transport"].astype(dtype=float)

In [121]:
copia["Homosexuality_acceptance"] = copia["Homosexuality_acceptance"].astype(dtype=float)

In [122]:
copia["VAT_Sales_Tax"] = copia["VAT_Sales_Tax"].astype(dtype=float)

In [123]:
copia["Average_Annual_percent_sunshine"] = copia["Average_Annual_percent_sunshine"].astype(dtype=float)

In [124]:
copia["GDP_per_capita_uno"] =copia["GDP_per_capita_uno"].astype(dtype=float)

In [125]:
copia["Airport_score"] = copia["Airport_score"].astype(dtype=float)

In [126]:
def porcentaje(i):
    i = i/100
    return i

In [127]:
copia["Growth"] = copia["Growth"].apply(porcentaje)

In [128]:
copia["Unemployment"] = copia["Unemployment"].apply(porcentaje)

In [129]:
def menores(i):
    if i <1:
        i= i*100
    return i

In [130]:
copia["Homosexuality_acceptance"] = copia["Homosexuality_acceptance"].astype(dtype=float)

In [131]:
copia["Homosexuality_acceptance"] = copia["Homosexuality_acceptance"].apply(menores)

### A continuación eliminaremos algunas columnas que no utilizaremos

In [133]:
copia.drop(["Unnamed: 0", "GDP_per_capita_otro"], axis=1, inplace=True)

In [134]:
copia.head()

,Airport_hub,Intercity_train_connectivity,Gun_related_deaths,Guns_per_residents,Pisa_ranking,Best_university,Monthly_Fitness_Club_Membership,Beer,Monthly_Public_Transport,Lunch,...,Concert_venues,Museums,Sport_venues,Currency_for_urban_area,GDP_per_capita_uno,Growth,Unemployment,url,Average_Annual_percent_sunshine,Airport_score
0,8,0.59,1,12,13,Aarhus University,37.0,1.70,62.0,15.0,...,95,18,21,DKK,44342.66,0.05,0.04,https://teleport.org/cities/aarhus/,0.0,0.12
1,26,0.17,1,24,16,University of Adelaide,50.0,4.30,80.0,13.0,...,89,37,91,AUD,46433.30,0.07,0.06,https://teleport.org/cities/adelaide/,12.6,0.19
2,23,0.11,16,328,24,University of New Mexico,52.0,2.90,37.0,12.0,...,99,35,10,USD,54596.65,0.07,0.05,https://teleport.org/cities/albuquerque/,168.0,0.18
3,45,0.66,1,1,39,No hay dato,83.0,0.68,19.0,5.7,...,68,24,53,KZT,24019.95,0.09,0.06,https://teleport.org/cities/almaty/,64.0,0.26
4,237,0.68,1,4,10,University of Amsterdam,49.0,2.10,100.0,18.0,...,339,187,154,EUR,47354.53,0.03,0.06,https://teleport.org/cities/amsterdam/,12.9,0.98

In [135]:
new_name = {"cities": "Cities","Growth": "Growth_percentage", "GDP_per_capita_uno": "GDP_per_capita","Unemployment": "Unemployment_percentage","url":"Url"}

In [136]:
copia.rename(columns=new_name, inplace=True)

In [137]:
copia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Airport_hub                      262 non-null    int64
 1   Intercity_train_connectivity     262 non-null    float64
 2   Gun_related_deaths               262 non-null    int64
 3   Guns_per_residents               262 non-null    int64
 4   Pisa_ranking                     262 non-null    int64
 5   Best_university                  262 non-null    object
 6   Monthly_Fitness_Club_Membership  262 non-null    float64
 7   Beer                             262 non-null    float64
 8   Monthly_Public_Transport         262 non-null    float64
 9   Lunch                            262 non-null    float64
 10  Large_apartment                  262 non-null    int64
 11  Medium_apartment                 262 non-null    int64
 12  Small_apartment                  262 non-null    int64
 13  Cities                           262 non-null    object
 14  Description                      262 non-null    object
 15  Poblacion                        262 non-null    int64
 16  Homosexuality_acceptance         262 non-null    float64
 17  LGBT_adoption_rights             262 non-null    object
 18  LGBT_homosexuality_rights        262 non-null    object
 19  LGBT_marriage_rights             262 non-null    object
 20  VAT_Sales_Tax                    262 non-null    float64
 21  Art_galleries                    262 non-null    int64
 22  Concert_venues                   262 non-null    int64
 23  Museums                          262 non-null    int64
 24  Sport_venues                     262 non-null    int64
 25  Currency_for_urban_area          262 non-null    object
 26  GDP_per_capita                   262 non-null    float64
 27  Growth_percentage                262 non-null    float64
 28  Unemployment_percentage          262 non-null    float64
 29  Url                              262 non-null    object
 30  Average_Annual_percent_sunshine  262 non-null    float64
 31  Airport_score                    262 non-null    float64
dtypes: float64(12), int64(12), object(8)
memory usage: 65.6+ KB

In [138]:
copia.to_csv("../Data/copia_de_prueba.csv")

### Con nuestros datos limpios, le daremos forma a un nuevo dataset que utilizaremos para realizar los clusters

In [139]:
PCA_user = copia.copy()

In [140]:
PCA_user.columns

Index(['Airport_hub', 'Intercity_train_connectivity', 'Gun_related_deaths',
       'Guns_per_residents', 'Pisa_ranking', 'Best_university',
       'Monthly_Fitness_Club_Membership', 'Beer', 'Monthly_Public_Transport',
       'Lunch', 'Large_apartment', 'Medium_apartment', 'Small_apartment',
       'Cities', 'Description', 'Poblacion', 'Homosexuality_acceptance',
       'LGBT_adoption_rights', 'LGBT_homosexuality_rights',
       'LGBT_marriage_rights', 'VAT_Sales_Tax', 'Art_galleries',
       'Concert_venues', 'Museums', 'Sport_venues', 'Currency_for_urban_area',
       'GDP_per_capita', 'Growth_percentage', 'Unemployment_percentage', 'Url',
       'Average_Annual_percent_sunshine', 'Airport_score'],
      dtype='object')

#### Eliminamos columnas que no utilizaremos

In [141]:
PCA_user.drop(["Airport_hub","Guns_per_residents", "Best_university", "Monthly_Fitness_Club_Membership","Beer","Monthly_Public_Transport","Lunch","Description","Poblacion","LGBT_adoption_rights","LGBT_homosexuality_rights","LGBT_marriage_rights","Url","Currency_for_urban_area"], axis=1, inplace=True)

In [142]:
PCA_user.head()

,Intercity_train_connectivity,Gun_related_deaths,Pisa_ranking,Large_apartment,Medium_apartment,Small_apartment,Cities,Homosexuality_acceptance,VAT_Sales_Tax,Art_galleries,Concert_venues,Museums,Sport_venues,GDP_per_capita,Growth_percentage,Unemployment_percentage,Average_Annual_percent_sunshine,Airport_score
0,0.59,1,13,1700,1300,840,Aarhus,93.03,0.25,51,95,18,21,44342.66,0.05,0.04,0.0,0.12
1,0.17,1,16,1500,1200,1000,Adelaide,79.00,0.10,82,89,37,91,46433.30,0.07,0.06,12.6,0.19
2,0.11,16,24,1200,950,760,Albuquerque,93.13,0.07,127,99,35,10,54596.65,0.07,0.05,168.0,0.18
3,0.66,1,39,620,480,340,Almaty,66.56,0.12,61,68,24,53,24019.95,0.09,0.06,64.0,0.26
4,0.68,1,10,2400,2000,1600,Amsterdam,97.37,0.21,284,339,187,154,47354.53,0.03,0.06,12.9,0.98

In [143]:
PCA_user['Housing'] = PCA_user[["Large_apartment", "Medium_apartment","Small_apartment"]].mean(axis=1)

In [144]:
PCA_user.drop(["Large_apartment","Medium_apartment","Small_apartment"], axis=1, inplace=True)

In [145]:
PCA_user['Culture'] = PCA_user[['Art_galleries','Concert_venues','Museums']].sum(axis=1)

In [146]:
PCA_user.drop(["Art_galleries","Concert_venues","Museums"], axis=1, inplace=True)

In [147]:
PCA_user.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262 entries, 0 to 261
Data columns (total 14 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Intercity_train_connectivity     262 non-null    float64
 1   Gun_related_deaths               262 non-null    int64
 2   Pisa_ranking                     262 non-null    int64
 3   Cities                           262 non-null    object
 4   Homosexuality_acceptance         262 non-null    float64
 5   VAT_Sales_Tax                    262 non-null    float64
 6   Sport_venues                     262 non-null    int64
 7   GDP_per_capita                   262 non-null    float64
 8   Growth_percentage                262 non-null    float64
 9   Unemployment_percentage          262 non-null    float64
 10  Average_Annual_percent_sunshine  262 non-null    float64
 11  Airport_score                    262 non-null    float64
 12  Housing                          262 non-null    float64
 13  Culture                          262 non-null    int64
dtypes: float64(9), int64(4), object(1)
memory usage: 28.8+ KB

In [149]:
PCA_user['Travel_connectivity'] = PCA_user[["Intercity_train_connectivity", "Airport_score"]].mean(axis=1)

In [151]:
PCA_user.drop(["Intercity_train_connectivity","Airport_score"], axis=1, inplace=True)

In [152]:
PCA_user["Housing"] = PCA_user["Housing"].astype(dtype=int)

In [153]:
PCA_user.head()

,Gun_related_deaths,Pisa_ranking,Cities,Homosexuality_acceptance,VAT_Sales_Tax,Sport_venues,GDP_per_capita,Growth_percentage,Unemployment_percentage,Average_Annual_percent_sunshine,Housing,Culture,Travel_connectivity
0,1,13,Aarhus,93.03,0.25,21,44342.66,0.05,0.04,0.0,1280,164,0.355
1,1,16,Adelaide,79.00,0.10,91,46433.30,0.07,0.06,12.6,1233,208,0.180
2,16,24,Albuquerque,93.13,0.07,10,54596.65,0.07,0.05,168.0,970,261,0.145
3,1,39,Almaty,66.56,0.12,53,24019.95,0.09,0.06,64.0,480,153,0.460
4,1,10,Amsterdam,97.37,0.21,154,47354.53,0.03,0.06,12.9,2000,810,0.830

In [ ]:
PCA_user.to_csv("../Data/clean_.csv")